@{
    ViewData["Title"] = "Home Page";
}

<div aurelia-app="boot">
    <div class="container">
        <div class="notification has-text-centered">
            Loading...
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/dist/vendor.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/dist/app.js" asp-append-version="true"></script>
}
